<html>
<head>
  <title>Movie DB</title>
  <%= stylesheet_link_tag 'application'%>
  <%= stylesheet_link_tag 'default'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="title">Movie DB</h1>
<div id="main">
  <% if flash[:notice] %>
    <div class="message" id="notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:warning] %>
    <div class="message" id="warning">
      <%= flash[:warning] %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
